# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
| unordered list: |
| ---- |
| List popular languages for Data Science |
| List of some famous libraries for Data Science |
| Data Science Tools |

Some of the popular languages that Data Scientists use are:
| ordered list |
| ---- |
| Python |
| R |
| C++ |

Some of the commonly used libraries used by Data Scientists include:
| ordered list |
| ---- |
| Panda |
| Numpy |
| Keras |
| TensorFlow |
| Pytorch |

| Data Science Tools: |
| ----- |
| Jupyter notebook |
| Apache Spark |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python: +, -, *, /

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor:
Jesus Gonzalez